@import'/cursos/css/normalize.css';


.menu{
    background-image: url(/img/fondo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: initial;
    min-height: 500px;
    height: 33vh;
    position: relative;
    border-radius: 0px 250px 0px 250px;
}
header{
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.menu nav ul{
    display: flex;
    gap: 20px;
}
.menu nav ul a{
    color: rgba(0, 0, 0, 0.851);
    font-size: 25px;
    font-weight: bolder;
    font-family: sans-serif;
}
.logo{
    width: 300px;
    height: 200px;
}
.titulo{
    margin: 0  auto;
    margin-top: 90px;
    width: 100%;
    max-width: 15%;
    position: relative;
    color: #000000ca;    
}
h1{
    font-weight: 100;
    font-size: 50px;
    font-weight: bolder;
    font-family: sans-serif;
    text-align: center;
}








.footer{
    background-image: url(/img/fondo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-around;
    padding-right: 200px;
}
.footer p{
    color: black;
    font-size: 30px;
    font-weight: bolder;
}